@font-face {
  font-family: 'Perpetua';
  src: url('./font/Perpetua.eot?#iefix') format('embedded-opentype'),
  url('./font/Perpetua.woff') format('woff'),
  url('./font/Perpetua.ttf')  format('truetype'),
  url('./font/Perpetua.svg#Perpetua') format('svg');
  font-weight: normal;
  font-style: normal;
}

@-webkit-keyframes text-glow {
    from {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    }
    to {
        text-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    }
}

@-webkit-keyframes text-glow-hover {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    }
    to {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    }
}

@-webkit-keyframes box-glow {
    from {
        box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    }
    to {
        box-shadow: 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff, 0 0 1px #fff;
    }
}

body {
    font-family: "Perpetua", "Consolas";
    background: linear-gradient(to bottom, #000000, #0b0b1f);
    height: 100%;
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.text-glow {
  color: #fff;
  text-align: center;
  -webkit-animation: text-glow ease-in-out infinite alternate;
  -moz-animation: text-glow 1s ease-in-out infinite alternate;
  animation: text-glow 1s ease-in-out infinite alternate;
}

div {
    color: white;
}

div.label {
    font-size: 60px;
    margin: 30px;
    margin-bottom: 10px;
}

.passage {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

div.description > img {
    height: 70%;
    width: 70%;
}

div.description > p {
    font-size: 32px;
    text-align: center;
    margin: 30px;
    padding: 20px;
}

.left > img {
    margin-left: 60px;
    float: left;
}

.right > img {
    margin-right: 60px;
    float: right;
}

div.map {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

div.map > img {
    box-shadow: 0 0 10px 10px rgba(2, 2, 11, 0.7);
    width: 80%;
    height: 80%;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 90px;
}

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 86%;
    text-align: center;
    border: 1.5px solid white;
    box-shadow: 0 0 10px 10px rgba(255, 255, 255, 0.7);
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
