@font-face {
  font-family: 'Perpetua';
  src: url('./font/Perpetua.eot?#iefix') format('embedded-opentype'),
  url('./font/Perpetua.woff') format('woff'),
  url('./font/Perpetua.ttf')  format('truetype'),
  url('./font/Perpetua.svg#Perpetua') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
    font-size: 22px;
    font-family: "Perpetua";
    background: url("./images/background.png") no-repeat;
    background-size: cover;
}

.logo {
    text-align: center;
}

div.logo img {
    width: 100%;
}

div.logo {
    padding: 15px;
    padding-bottom: 0px;
    width: 40%;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 0px;
}

div.menu {
    margin-right: 4%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 25%;
    float: right;
}

div.menu-box {
    width: 100%;
    margin: 3%;
    text-align: center;
    padding: 15px 0px 15px 0px;
}

.shadowfilter {
    -webkit-filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
    filter: drop-shadow(0px 0px 6px rgba(255, 255, 255, 0.7));
}

div.glow {
  font-size: 40px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

div.glow:hover {
    -webkit-animation: glow-hover ease-in-out infinite alternate;
    -moz-animation: glow-hover 1s ease-in-out infinite alternate;
    animation: glow-hover 1s ease-in-out infinite alternate;
}


@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 1.5px #fff, 0 0 1.5px #fff, 0 0 1.5px #fff, 0 0 1.5px #fff, 0 0 1.5px #fff, 0 0 1.5px #fff, 0 0 1.5px #fff;
    }
    to {
        text-shadow: 0 0 2.5px #bbf, 0 0 2.5px #bbf, 0 0 2.5px #bbf, 0 0 2.5px #bbf, 0 0 2.5px #bbf, 0 0 2.5px #bbf, 0 0 2.5px #bbf;
    }
}

@-webkit-keyframes glow-hover {
    from {
        text-shadow: 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff, 0 0 2px #fff;
    }
    to {
        text-shadow: 0 0 3px #bbf, 0 0 3px #bbf, 0 0 3px #bbf, 0 0 3px #bbf, 0 0 3px #bbf, 0 0 3px #bbf, 0 0 3px #bbf;
    }
}

.footer-break {
    clear: both;
}

a:link,
a:visited,
a:active {
    text-decoration: none;
    color: inherit;
}
