body {
    background-color: #282828;

}

.logo {
    text-align: center;
}

div.logo img {
    width: 100%;
}

div.logo {
    background: url("./images/background-logo.jpg") no-repeat;
    background-size: cover;
    padding: 15px;
    padding-bottom: 5px;
    width: 50%;
    margin: auto;
    margin-top: 18px;
    margin-bottom: 40px;
    border-radius: 40px;
    border: 2px solid #ffffff;
    box-shadow: 5px 5px rgba(10, 10, 10, 0.1);
}

div.menu {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

div.menu-box {
    margin-left: 3%;
    margin-right: 3%;
    text-align: center;
    padding: 15px 40px 15px 40px;
    color: white;
    background-color: #5e5e5e;
    border: 3px solid #ededed;

    border-radius: 30px;
}

.characters {

}

.history {

}

.artwork {

}
